<div class="noteForm">
  <div>
    <select>
      <option value="felicitasFischer">Felicitas Fischer</option>
      <option value="ronaldWeis">Ronald Weis</option>
      <option value="johannesHerrmann">Johannes Herrmann</option>
      <option value="handOtterbach">Hans Otterbach</option>
    </select>
    <br />
    <input id="date" type="date"/>
  </div>
  <textarea rows="3" cols="50" placeholder="Notiz einfügen..."></textarea>
  <input type="image" src="/assets/res/addIcon.png" border="0" alt="Submit" height=51 width=51 />
</div>


<table>
  <!-- <col width="30%">
  <col width="50%">
  <col width="20%"> -->
  <tr>
    <th>Datum</th>
    <th>Notiz</th>
    <th>Verfasser</th>
  </tr>
  <tr>
    <td>
      04.05.17 - 13:00
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      30 Minuten zu spät zum Unterricht.
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      A. Auch
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
  </tr>
  <tr>
    <td>
      03.05.17 - 12:45
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Muss Klausur am 09.05. nachschreiben.
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      H. Heine
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
  </tr>
  <tr>
    <td>
      02.05.17 - 11:10
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Vortrag über Globalisierung in nächster Stunde.
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      A. Auch
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
  </tr>
  <tr>
    <td>
      01.05.17 - 15:05
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Ist nicht zum Unterricht erschienen.
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      H. Heine
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
  </tr>
</table>
