<table>
  <tr>
    <th>Zeitstempel</th>
    <th>Notiz</th>
    <th>Verfasser</th>
    <th>Schüler</th>
    <th>Aktion</th>
  </tr>
  <tr *ngFor="let note of notes">
    <td>
      <input readonly value="{{ note.timestamp }}" #inputTimestamp/>
    </td>
    <td>
      <textarea autosize readonly value="{{ note.text }}" #inputNote></textarea>
    </td>
    <td>
      {{ note.teacherName }}
    </td>
    <td>
      {{ getNameOfStudent(note.studentId) }}
    </td>
    <td #tableAction>
      <img *ngIf="!note.isEditable; else show_checkIcon" (click)="editNote(note.id, inputNote)" title="Bearbeiten" src="/assets/res/edit_icon.svg" height=32 width=32 />
      <ng-template #show_checkIcon>
        <img (click)="updateNote(inputNote, note.id)" src="/assets/res/check_icon.png" title="Bestätigen" height=32 width=32 />
      </ng-template>
      <img (click)="deleteNote(note.id)" src="/assets/res/delete_icon.png" title="Löschen" height=32 width=32 />
    </td>
  </tr>
