
<table>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Mail</th>
    <th>Passwort</th>
    <th>Aktion</th>
  </tr>
  <tr *ngFor="let teacher of teachers">
    <td>
      {{ teacher.firstName }}
    </td>
    <td>
      {{ teacher.lastName }}
    </td>
    <td>
      {{ teacher.mail }}
    </td>
    <td>
      Test
    </td>
    <td>
      <img src="/assets/res/edit_icon.svg" height=32 width=32 />
      <img src="/assets/res/delete_icon.png" height=32 width=32 />
    </td>
  </tr>
</table>

<div class="addEntity">
  <table>
    <tr>
      <td>
        <input type="text" name="nachname" placeholder="Nachname..." #lastName>
      </td>
      <td>
        <input type="text" name="vorname" placeholder="Vorname..." #firstName>
      </td>
      <td>
        <input type="text" name="mail" placeholder="Mail..." #mail>
      </td>
    </tr>
  </table>
 <button (click)="add(firstName.value, lastName.value, mail.value)" type="button"> Hinzufügen </button>
</div>
