
<table>
  <tr>
    <th>Nachname</th>
    <th>Vorname</th>
    <th>Fächer</th>
  </tr>
  <tr>
    <td>
      Saller
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Dirk
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Elektrotechnik, Digitaltechnik
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
  </tr>
  <tr>
    <td>
      Six
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Bernhard
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Theoretische Informatik
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
  </tr>
  <tr>
    <td>
      Neemann
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Helmuth
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Digitaltechnik, Prozessortechnik
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
  </tr>
  <tr>
    <td>
      Werner
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Hans
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Mathematik
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
  </tr>
</table>

<div class="addEntity">
  <table>
    <tr>
      <td>
        <input type="text" name="nachname" placeholder="Nachname...">
      </td>
      <td>
        <input type="text" name="vorname" placeholder="Vorname...">
      </td>
      <td>
        <input type="text" name="klasse" placeholder="Fächer...">
      </td>
    </tr>
  </table>
  <button type="button"> Hinzufügen </button>
</div>
