<div id="DivDashb">

  <div id="DashHeader">
    <div id="DashHeadLeft">
      <h2>Meine Klassen</h2>
    </div>
    <div *ngIf="isClassSelected" id="DashHeadMiddle">
      <h2>Schüler der Klasse {{ getClassName() }}</h2>
    </div>
    <div *ngIf="isStudentSelected" id="DashHeadRight">
      <h2> Notizen von {{ getStudentName() }} </h2>
    </div>
  </div>

  <div id="DashLinks">
    <hr>
    <div (click)="showStudentsOfClass(klasse.id)" *ngFor="let klasse of classesOfCurrentTeacher" class="DashboardMenu">
      {{klasse.stufe}}
    </div>
  </div>

  <div *ngIf="isClassSelected" id="DashMitte">
    <hr>
    <div (click)="showNotesOfStudent(student.id)" *ngFor="let student of studentsOfSelectedClass" class="DashboardSchueler">
      {{student.firstName}} {{student.lastName}}
    </div>
  </div>

  <div *ngIf="isStudentSelected" id="DashRechts">
    <hr>
    <div class="noteForm">
      <div>
        <textarea autosize placeholder="Notiz einfügen..." #inputText></textarea>
      </div>
      <input (click)="addNote(inputText)" title="Hinzufügen" type="image" src="/assets/res/addIcon.png" alt="Submit" height=42 width=42   />
    </div>
    <h3 *ngIf="notesOfSelectedStudent.length !== 0">Letzten 5 Notizen</h3>
    <div *ngFor="let note of notesOfSelectedStudent | slice:0:5" class="DashboardNotiz">
      {{note.text}}
    </div>
  </div>

</div>
