<table>
  <tr>
    <th>Name</th>
    <th>Fach</th>
    <th>Klassenlehrer</th>
  </tr>
  <tr>
    <td>
      INF16A
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Informatik
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Dr. D. Saller
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
  </tr>
  <tr>
    <td>
      INF16B
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Informatik
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      A. Auch
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
  </tr>
  <tr>
    <td>
      ELE15A
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Elektrotechnik
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Dr. H. Neemann
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
  </tr>
  <tr>
    <td>
      MEC14B
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Mechatronik
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
    <td>
      Dr. H. Heine
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
  </tr>
</table>

<div class="addEntity">
  <table>
    <tr>
      <td>
        <input type="text" name="nachname" placeholder="Name...">
      </td>
      <td>
        <input type="text" name="vorname" placeholder="Fach...">
      </td>
      <td>
        <input type="text" name="klasse" placeholder="Klassenlehrer...">
      </td>
    </tr>
  </table>
  <button type="button"> Hinzufügen </button>
</div>
