<table>
  <tr>
    <th>Stufe</th>
    <th>Fach</th>
    <th>Klassenlehrer</th>
  </tr>
  <tr *ngFor="let class of classes">
    <td>
      <input readonly value="{{ class.stufe }}"/>
    </td>
    <td>
      <input readonly value="{{ class.stufe }}"/>
      <button type="button"> bearbeiten </button>
      <button type="button"> löschen </button>
    </td>
  </tr>
</table>

<div class="addEntity">
  <table>
    <tr>
      <td>
        <input type="text" name="nachname" placeholder="Name...">
      </td>
      <td>
        <input type="text" name="vorname" placeholder="Fach...">
      </td>
    </tr>
  </table>
  <button type="button"> Hinzufügen </button>
</div>
