<div *ngIf="!isLoggedIn(); else show_main" id="loginForm">
  <header>
    <img src="/assets/res/Logo.png" />
  </header>

  <form>
    <div>
      <img src="/assets/res/account_icon.png" height=32 width=32 />
      <input type="text" placeholder="E-Mail..." align="top" #currentUser><br/>
    </div>
    <div>
      <img src="/assets/res/password_icon.png" height=32 width=32 />
      <input type="password" placeholder="Passwort..." #password><br/>
    </div>
    <input (click)="onLogin(currentUser, password, $event)" value="Login">
  </form>
</div>

<ng-template #show_main>
  <app-main></app-main>
</ng-template>

<div id="snackbarLogin">Ungültige E-Mail Addresse oder Passwort.</div>

