
/* Header generell */
header {
	padding: 20px;
}

header div {
	margin: auto;
	display: inline;
}

#loginForm {
	padding: 12px 20px;
	width: 30%;
}

#loginForm form div {
  display: inline-flex;
  vertical-align: middle;
  line-height: 1;
  margin: 10px;
}

#loginForm form div img {
  margin-left: -5px;
  margin-right: 5px;
}

#loginForm form > input {
	font-size: 20px;
  text-indent: 10px;
	display: block;
	margin: 5px;
	width: 335px;
	background-color: white;
	border-radius: 4px;
	border: 2px solid #ff3333;
	cursor: pointer;
}

#loginForm form > input:hover {
	transition-duration: 0.4s;
	background-color: #ff3333;
	color: white;
}

#loginForm form div input {
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 4px;
	width: 300px;
	height: 30px;
  text-indent: 10px;
	font-size: 17px;
}

/* Logo Dashboard */
.logo {
	float: left;
	width: 554px;
	height: 230px;
	margin-bottom: 30px;
	border-left:1px solid #ffffff;
}
/* Logout-Button */
.logoutBox {
  display: inline-flex;
  float: right;
}

.logoutBox p {
  margin-right: 10px;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 50px;
}
/* Navigationsleite*/
header nav {
  background-color: #333;
  overflow: hidden;
	margin: auto;
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
/* Style der Links  */
header nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
	display: inline;
}
/* Veränderung der Farbe beim "berühren" */
header nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Markieren des geklickten Links */
header nav a.active {
    background-color: #4CAF50;
    color: white;
}
/* Anzeige der Nav-Elemente */
header nav li {
	display: inline;
	list-style: none;
	position: relative;
}

form div {
  display: block;
  margin: auto;
}

table {
	margin: auto;
	width: 90%;
	border-collapse: collapse;
	table-layout: fixed;
}

td button {
	visibility: hidden;
	font-size: 15px;
	float: right;
	border-radius: 4px;
	background-color: white;
	border: 2px solid #ff3333;
	margin: 0 1px;
}

td button:hover {
	transition-duration: 0.4s;
	background-color: #ff3333;
	color: white;
	cursor: pointer;
}

td:hover button {
	visibility: visible;
}

table, th, td {
    border: 1px solid black;
}

tr:not(:first-child):hover {
	background-color: #BEBEBE;
}

tr:nth-child(even) {
	background-color: #F0F0F0;
}

th {
    background-color: #ff3333;
    color: white;
	padding: 15px;
	font-size: 20px;
}

td {
	padding: 7px 10px;
	font-size: 20px;
	text-align: center;
}

.addEntity {
	margin-top: 50px;
}

.addEntity button {
	font-size: 20px;
	display: block;
	border-radius: 4px;
	margin: 5px auto;
	background-color: white;
	border: 2px solid #ff3333;
}

.addEntity button:hover {
	transition-duration: 0.4s;
	background-color: #ff3333;
	color: white;
	cursor: pointer;
}

.addEntity td input {
	border: none;
	outline: none;
	font-size: 17px;
	width: 100%;
}

.tableDropDown {
  width: 100%;
  height: 100%;
}

.tableDropDownCell {
  padding: 0;
  margin: 0;
  height: 40px;
}

/*Home_Button*/
#home {
  margin: auto;
  width: 22px;
  height: 22px;
}

#home:hover {
  filter:invert(100%);
}

#homeLi:hover img {
  filter:invert(100%);
}
